@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #586659;
    --card: #f0ede6;
    --card-foreground: #414146;
    --popover: #f0ede6;
    --popover-foreground: #414146;
    --primary: #368163;
    --primary-foreground: #fff1f2;
    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;
    --muted: #c9ddd8;
    --muted-foreground: #71717a;
    --accent: #e5e2da;
    --accent-foreground: #323236;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --success: #259e40;
    --success-foreground: #f0ede6;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #b0b0b0;
    --radius: 0.5rem;
  }

  .dark {
    --background: #3c3c3c;
    --foreground: #ffffff;
    --card: #f0ede6;
    --card-foreground: #414146;
    --popover: #f0ede6;
    --popover-foreground: #414146;
    --primary: #ffe24a;
    --primary-foreground: #fff1f2;
    --secondary: #595959;
    --secondary-foreground: #ffffff;
    --muted: #595959;
    --muted-foreground: #c3c3c3;
    --accent: #595959;
    --accent-foreground: #ffffff;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --success: #259e40;
    --success-foreground: #f0ede6;
    --border: #595959;
    --input: #595959;
    --ring: #b0b0b0;
    --radius: 0.5rem;
  }

  .emergency {
    --background: #ea5019;
    --foreground: #fff9f0;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
